/obj
/initramfs
/toybox
/toybox/
*.o
*.obj
.DS_Store*
.DS_Store
syntax: glob
.config*
.single*
change/
generated/
kconfig/mconf
kconfig/conf
kconfig/*.c
toybox
toybox_unstripped
/linux-6.6.2/build/html/
/linux-6.6.2/build/html/*
/mtpapp/docs/_build/